/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: PFDinReg; src: url("fonts/pfdintextcondpro-regular.eot"); src: url("fonts/pfdintextcondpro-regular.eot?#iefix") format("embedded-opentype"), url("fonts/pfdintextcondpro-regular.woff") format("woff"), url("fonts/pfdintextcondpro-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: PFDinBold; src: url("fonts/pfdintextcondpro-bold.eot"); src: url("fonts/pfdintextcondpro-bold.eot?#iefix") format("embedded-opentype"), url("fonts/pfdintextcondpro-bold.woff") format("woff"), url("fonts/pfdintextcondpro-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: PFDinMed; src: url("fonts/pfdintextcondpro-medium.eot"); src: url("fonts/pfdintextcondpro-medium.eot?#iefix") format("embedded-opentype"), url("fonts/pfdintextcondpro-medium.woff") format("woff"), url("fonts/pfdintextcondpro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: PFFuel; src: url("fonts/pffuelpro-reg.eot"); src: url("fonts/pffuelpro-reg.eot?#iefix") format("embedded-opentype"), url("fonts/pffuelpro-reg.woff") format("woff"), url("fonts/pffuelpro-reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "PFDinReg", Arial, sans-serif; font-size: 13px; line-height: 1.4; }

.wrapper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; min-height: 650px; overflow: hidden; }

.sidebar { position: absolute; top: 0; left: 0; bottom: 0; z-index: 4; }
.sidebar:hover { width: 230px; }
.sidebar:hover .menu { left: -140px; }
.sidebar:hover .sidebar__in { left: 0; }

.section { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url(../img/bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index: 2; }

.menu { position: absolute; top: 0; left: 0; width: 140px; height: 140px; background: #df1e1a; border-right: #e85a57 1px solid; -webkit-transition: left 0.2s linear; -moz-transition: left 0.2s linear; -o-transition: left 0.2s linear; transition: left 0.2s linear; }

.menu__ico { position: absolute; top: 0; right: -71px; bottom: 0; width: 70px; background: #df1e1a; }
.menu__ico i { display: block; margin: 56px 0 0 20px; background: url('../img/icons-s06ed735468.png') 0 -3889px no-repeat; width: 43px; height: 30px; }
.menu__ico:after { content: ""; position: absolute; top: 0; right: -20px; width: 0px; height: 0px; border-style: solid; border-width: 70px 0 70px 20px; border-color: transparent transparent transparent #df1e1a; }

.menu__logo { position: absolute; top: 13px; left: 37px; background: url('../img/icons-s06ed735468.png') 0 -3155px no-repeat; width: 75px; height: 113px; }

.sidebar__in { position: absolute; top: 0; left: -200px; width: 200px; bottom: 0; background-image: url(../img/sidebar-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.menu, .sidebar__in { -webkit-transition: left 0.2s ease-out; -moz-transition: left 0.2s ease-out; -o-transition: left 0.2s ease-out; transition: left 0.2s ease-out; }

.logo { margin: 15px 0 30px; text-align: center; }

.logo__ico { display: inline-block; background: url('../img/icons-s06ed735468.png') 0 -3017px no-repeat; width: 85px; height: 128px; }

.begin { position: relative; display: block; margin-bottom: 35px; padding: 16px 0 12px; text-decoration: none; font-family: "PFDinBold", Arial, sans-serif; font-size: 20px; color: white; text-align: center; text-transform: uppercase; }
.begin:before, .begin:after { content: ""; position: absolute; left: 50%; width: 70px; height: 1px; margin-left: -35px; background: rgba(255, 255, 255, 0.2); }
.begin:before { top: 0; }
.begin:after { bottom: 0; }

.nav { position: relative; padding: 0 0 17px 20px; font-size: 0; }
.nav:after { content: ""; position: absolute; left: 50%; bottom: 0; width: 70px; height: 1px; margin-left: -35px; background: rgba(255, 255, 255, 0.2); }
.nav li { margin-bottom: 13px; }
.nav a { display: block; color: white; }
.nav a.is-active i { background: white; color: #df1e1a; }
.nav i, .nav span { display: inline-block; font-family: "PFDinBold", Arial, sans-serif; vertical-align: middle; }
.nav i { width: 35px; height: 35px; margin-right: 12px; background: #df1e1a; border-radius: 50%; text-align: center; line-height: 35px; font-style: normal; font-size: 20px; }
.nav span { position: relative; top: 2px; font-size: 13px; text-transform: uppercase; line-height: 1.2; }

.sidebar__down { position: absolute; bottom: 15px; left: 0; right: 0; text-align: center; }

.phone { margin-bottom: 10px; }

.phone__title { color: #919396; line-height: 1; }

.phone__in { font-family: "PFDinBold", Arial, sans-serif; font-size: 18px; color: white; }
.phone__in span { color: #df1e1a; }

.site a { color: white; text-decoration: underline; text-transform: uppercase; }

.footer { position: absolute; right: 35px; bottom: 20px; }

.copyright, .social { display: inline-block; vertical-align: middle; }

.copyright { margin-right: 15px; color: white; line-height: 1.2; }
.copyright a { color: #fff701; text-decoration: underline; }

.social { font-size: 0; }
.social li { display: inline-block; margin-left: 8px; vertical-align: top; }
.social li:first-child { margin: 0; }
.social a { display: block; }

.social__ig { background: url('../img/icons-s06ed735468.png') 0 -3496px no-repeat; width: 49px; height: 49px; }

.social__vk { background: url('../img/icons-s06ed735468.png') 0 -3678px no-repeat; width: 49px; height: 49px; }

.social__tw { background: url('../img/icons-s06ed735468.png') 0 -3555px no-repeat; width: 50px; height: 49px; }

.social__fb { background: url('../img/icons-s06ed735468.png') 0 -3830px no-repeat; width: 50px; height: 49px; }

.sex { margin: 0 auto; }

.sex__row { text-align: center; }

.sex__item { position: relative; left: 500px; display: inline-block; width: 170px; vertical-align: middle; text-align: center; }
.sex__item i { display: inline-block; }
.sex__item + .sex__item { -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; -o-transition-delay: 0.1s; transition-delay: 0.1s; }
.sex__item + .sex__item + .sex__item { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s; }
.sex__item + .sex__item + .sex__item + .sex__item { -webkit-transition-delay: 0.3s; -moz-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; }

.sex__man { background: url('../img/icons-s06ed735468.png') 0 -2136px no-repeat; width: 83px; height: 281px; }

.sex__woman { background: url('../img/icons-s06ed735468.png') 0 -1465px no-repeat; width: 96px; height: 266px; }

.sex__parent { background: url('../img/icons-s06ed735468.png') 0 -881px no-repeat; width: 166px; height: 285px; }

.sex__guest { background: url('../img/icons-s06ed735468.png') 0 -1741px no-repeat; width: 84px; height: 285px; }

.sex__btn { margin-top: -30px; }

.btn { display: inline-block; background: url('../img/icons-s06ed735468.png') 0 -2878px no-repeat; width: 125px; height: 129px; text-align: center; line-height: 130px; }
.btn span { display: inline-block; font-family: "PFDinMed", Arial, sans-serif; vertical-align: middle; line-height: 1; text-transform: uppercase; font-size: 25px; color: black; text-decoration: none; letter-spacing: -1px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }

.btn_big { background: url('../img/icons-s06ed735468.png') 0 -2512px no-repeat; width: 161px; height: 167px; line-height: 160px; }
.btn_big span { font-size: 20px; }

.choicer { position: relative; display: block; margin-bottom: 10px; padding-left: 40px; }
.choicer input { position: absolute; top: 50%; left: 8px; margin-top: -7px; opacity: 0; z-index: 2; }
.choicer input:checked + .choicer__text:after { content: ""; position: absolute; top: -2px; left: 3px; background: url('../img/icons-s06ed735468.png') 0 -3964px no-repeat; width: 27px; height: 21px; }

.choicer__text { display: block; font-family: "PFDinMed", Arial, sans-serif; font-size: 24px; line-height: 1; }
.choicer__text:before { content: ""; position: absolute; top: 0; left: 0; width: 20px; height: 20px; background: #f7f002; border-radius: 50%; border: 2px solid black; }

.choicer__bg { position: relative; display: inline-block; }
.choicer__bg span { position: relative; display: block; z-index: 4; }
.choicer__bg i { position: absolute; top: 50%; left: 0; right: 0; height: 22px; margin-top: -8px; background: url(../img/icons/choicer-bg-middle.png) repeat-x 0 0; z-index: 2; }
.choicer__bg i:before, .choicer__bg i:after { content: ""; position: absolute; top: 0; }
.choicer__bg i:before { content: ""; left: -10px; background: url('../img/icons-s06ed735468.png') 0 -3614px no-repeat; width: 10px; height: 22px; }
.choicer__bg i:after { content: ""; right: -10px; background: url('../img/icons-s06ed735468.png') 0 -3646px no-repeat; width: 10px; height: 22px; }

.choicer__info { display: block; padding-top: 8px; font-style: italic; font-size: 16px; }

.field { display: block; }

.field__el input { width: 100%; height: 30px; padding: 0 5px; border: 3px solid black; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "PFDinMed", Arial, sans-serif; font-size: 16px; font-style: italic; }

.field__label { font-style: italic; font-family: "PFDinMed", Arial, sans-serif; }

.btn-animation:hover { -webkit-animation: rotate 0.2s linear infinite; -moz-animation: rotate 0.2s linear infinite; -ms-animation: rotate 0.2s linear infinite; -o-animation: rotate 0.2s linear infinite; animation: rotate 0.2s linear infinite; }

@-moz-keyframes rotate { 0% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); } }

@-webkit-keyframes rotate { 0% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); } }

@-o-keyframes rotate { 0% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); } }

@-ms-keyframes rotate { 0% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); } }

@keyframes rotate { 0% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(5deg); -moz-transform: rotate(5deg); -ms-transform: rotate(5deg); } }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.ie8 .step { display: none; }
.ie8 .step.is-active { display: block; }

.step { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.step.is-active { z-index: 10; }
.step.is-active .step__ask, .step.is-active .step__school, .step.is-active .step__go, .step.is-active .step__title-counter, .step.is-active .step__title-text, .step.is-active .step__form, .step.is-active .step__description, .step.is-active .step__line, .step.is-active .step__next, .step.is-active .step__text, .step.is-active .sex__item { opacity: 1; }
.step.is-active .step__title-text, .step.is-active .step__title-counter, .step.is-active .step__line, .step.is-active .step__next { top: 0; }
.step.is-active .step__text, .step.is-active .sex__item, .step.is-active .step__description, .step.is-active .step__form { left: 0; }
.step.is-active.step_0 .step__title { top: 45px; opacity: 1; }
.step.is-active.step_5 .step__in { left: 50%; }
.step.is-active.step_5 .map { width: 50%; }
.step.is-active .step__school { margin-left: -420px; }
.step.is-active .step__ask { top: 20px; }
.step.is-active .step__go { margin-left: -90px; }

.step__ask, .step__school, .step__go, .step__title-counter, .step__title-text, .step__form, .step__description, .step__line, .step__next, .step__text, .step_0 .step__title, .sex__item { opacity: 0; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

.step__in { position: absolute; top: 50%; left: 50%; width: 1000px; height: 600px; margin: -300px 0 0 -500px; }

.step__ask { position: absolute; top: 500px; left: 50%; margin-left: -360px; background: url('../img/icons-s06ed735468.png') 0 0 no-repeat; width: 264px; height: 495px; }

.step__school { position: absolute; top: 220px; left: 50%; width: 841px; height: 151px; margin-left: 200px; background: url(../img/step-0-school.png) no-repeat 0 0; }

.step__go { position: absolute; top: 365px; left: 50%; margin-left: -500px; background: url('../img/icons-s06ed735468.png') 0 -2689px no-repeat; width: 177px; height: 179px; }

.step__title { margin-bottom: 10px; text-align: center; }

.step__title-counter, .step__title-text { position: relative; top: -400px; display: inline-block; vertical-align: middle; }

.step__title-counter { margin-right: 30px; background: url('../img/icons-s06ed735468.png') 0 -3278px no-repeat; width: 52px; height: 53px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); color: #fff701; font-size: 13px; line-height: 52px; text-align: center; }

.step__title-text { -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; -o-transition-delay: 0.1s; transition-delay: 0.1s; }

.step__form { position: relative; left: -800px; *zoom: 1; }
.step__form:after { content: " "; display: table; clear: both; }

.step__form-column { float: left; }

.step__description { position: relative; left: 800px; margin-bottom: 30px; text-align: center; font-family: "PFDinMed", Arial, sans-serif; font-size: 20px; font-style: italic; line-height: 1.2; }
.step__description p { position: relative; display: inline-block; z-index: 2; }
.step__description span { position: relative; display: inline-block; height: 21px; padding: 0 2px; background: url(../img/icons/step2-text-middle.png) repeat-x 0 0; line-height: 17px; }
.step__description span:before, .step__description span:after { content: ""; position: absolute; top: 0; }
.step__description span:before { left: -25px; background: url('../img/icons-s06ed735468.png') 0 -3434px no-repeat; width: 25px; height: 21px; }
.step__description span:after { right: -22px; background: url('../img/icons-s06ed735468.png') 0 -3465px no-repeat; width: 22px; height: 21px; }

.step__line { position: relative; top: 400px; margin-bottom: 40px; text-align: center; font-size: 0; }
.step__line i { display: inline-block; width: 490px; height: 1px; background: #8cb188; box-shadow: 0 0 0 1px rgba(140, 177, 136, 0.6); }

.step__next { position: relative; top: 500px; padding-top: 50px; text-align: center; }

.step__text { position: relative; left: -800px; padding: 15px 0 25px; font-size: 0; text-align: center; }
.step__text li { display: inline-block; padding: 0 15px; vertical-align: middle; font-size: 16px; text-align: left; line-height: 1.2; font-family: "PFDinMed", Arial, sans-serif; }
.step__text li:first-child { text-align: right; font-size: 18px; text-transform: uppercase; font-family: "PFDinBold", Arial, sans-serif; }

.step_0 .step__title { position: absolute; top: -400px; left: 50%; margin-left: -100px; background: url('../img/icons-s06ed735468.png') 0 -505px no-repeat; width: 386px; height: 223px; }

.step_1 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -2427px no-repeat; width: 281px; height: 75px; }

.step_2 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -1282px no-repeat; width: 585px; height: 93px; }
.step_2 .step__form { width: 600px; margin: 0 auto; }
.step_2 .step__form-column { width: 200px; }
.step_2 .choicer { margin: 0; }
.step_2 .choicer input:checked + .choicer__text:after { top: 16px; }
.step_2 .choicer .choicer__text:before { top: 18px; }
.step_2 .choicer_mod { margin-top: 15px; }
.step_2 .choicer_mod .choicer__text:before { top: 4px; }
.step_2 .choicer_mod input:checked + .choicer__text:after { top: 2px; }
.step_2 .choicer__text:before { top: 4px; }
.step_2 .choicer__text strong { margin-right: 10px; letter-spacing: -7px; font-size: 50px; }
.step_2 .choicer__text span { font-size: 32px; }

.step_3 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -1385px no-repeat; width: 492px; height: 70px; }
.step_3 .step__description { font-size: 26px; }
.step_3 .step__form-column { width: 30%; margin-left: 5%; }
.step_3 .step__form-column:first-child { margin: 0; }

.step_4 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -738px no-repeat; width: 457px; height: 133px; }
.step_4 .step__form-column { width: 35%; margin-left: 5%; }
.step_4 .step__form-column:first-child { width: 20%; margin: 0; }

.step_5 .step__in { width: 50%; left: 0; margin: -300px 0 0 0; -webkit-transition: left 0.2s linear; -moz-transition: left 0.2s linear; -o-transition: left 0.2s linear; transition: left 0.2s linear; }
.step_5 .step__title, .step_5 .step__description, .step_5 .step__line, .step_5 .step__next { text-align: left; }
.step_5 .step__title { padding-left: 40px; }
.step_5 .step__description, .step_5 .step__line { padding-left: 90px; }
.step_5 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -3341px no-repeat; width: 244px; height: 83px; }
.step_5 .step__form, .step_5 .step__next { padding-left: 130px; }
.step_5 .step__form-column { width: 100%; }
.step_5 .choicer { margin-bottom: 30px; }
.step_5 .map { position: absolute; top: 0; left: 0; width: 0; bottom: 0; border-right: 6px solid black; background: white; -webkit-transition: width 0.2s linear; -moz-transition: width 0.2s linear; -o-transition: width 0.2s linear; transition: width 0.2s linear; overflow: hidden; }
.step_5 .map__form { position: absolute; left: 90px; right: 90px; bottom: 40px; }
.step_5 .map__form .field { overflow: hidden; }
.step_5 .map__btn { float: right; height: 24px; padding: 0 25px; margin: 4px 0 0 10px; background: #e5d507; font-family: "PFDinMed", Arial, sans-serif; font-style: italic; font-size: 16px; color: black; }

.step_6 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -1176px no-repeat; width: 626px; height: 96px; }

.step_6 .step__description, .step_7 .step__description { font-size: 34px; font-style: italic; }
.step_6 .step__description em, .step_7 .step__description em { display: block; line-height: 1; font-size: 24px; }

.step_7 .step__title-text { background: url('../img/icons-s06ed735468.png') 0 -2036px no-repeat; width: 346px; height: 90px; }
.step_7 .step__description a { position: relative; top: -2px; display: inline-block; padding: 0 12px 2px; margin-left: 10px; background: #e5d607; font-size: 16px; text-decoration: none; color: black; font-style: italic; }
.step_7 .step__form { width: 460px; margin: 0 auto; }
.step_7 .field { margin-bottom: 15px; }
.step_7 .field__label, .step_7 .field__el { display: inline-block; vertical-align: middle; }
.step_7 .field__label { width: 60px; margin-right: 15px; text-align: right; }
